<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <title>Sli Fox Inc - Homepage</title>
  </head>
  <body>
    <div id="progressbar"></div>
    <div id="scrollPath"></div>

    <section class="intro-wrapper">
      <div class="container">
        <div id="top" class="intro">
          <h1 class="intro-title">Sli Fox Inc.</h1>
          <h3 class="intro-subtitle">
            "In <strong>Sli Fox</strong> we make sure our players get the most
            out of gaming by cooperating and sharing their ideas"
          </h3>
        </div>
      </div>
    </section>

    <section class="login-wrapper">
      <div class="container">
        <div class="exlink">
          <a href="/signup" target="_blank">
            <button class="button">
              <span>Sign up today to join the Sli Fox Community!</span>
            </button>
          </a>
        </div>
      </div>
    </section>

    <div class="shortbox">
      <div class="shortcuts">
        <a href="#top"
          ><button class="introbutton"><span>Introduction</span></button></a
        ><br />
        <a href="#para"
          ><button class="infobutton"><span>What Sli Fox is</span></button></a
        ><br />
        <a href="#list"
          ><button class="listbutton">
            <span>List of Things to do</span>
          </button>
        </a>
      </div>
    </div>
    <div id="para" class="middle">
      <h2>What Sli Fox is</h2>
      <p>
        At <strong>Sli Fox</strong> we take forums and our beloved gamers and
        combine them into a big community where everyone helps each other out in
        games <em>respectfully</em>. If you're having a problem in a game where
        you can't pass a certain mission or if you want to obtain the certain
        achievements then <strong>Sli Fox</strong> is the place for you. Think
        of
        <a class="ign" href="https://www.ign.com/" target="_blank">IGN</a>
        and all of those youtube tutorials combined together to make Sli Fox.
        You will be able to create your own forums and account in order to
        contribute to the community of forums.
      </p>
    </div>
    <div id="list" class="list">
      <h4>List of things you can do in the Sli Fox community:</h4>
      <ul>
        <li>Give feedback on completing missions and achievements in games</li>
        <li>Petition for new games to be released</li>
        <li>Rate games based on their cover pics (coming soon)</li>
      </ul>
    </div>
    <div class="row">
      <div class="column">
        <img src="img32.jpg" alt="Snow" style="width: 100%" />
      </div>
      <div class="column">
        <img src="controlle.jpeg" alt="Forest" style="width: 100%" />
      </div>
      <div class="column">
        <img src="ps4.jpg" alt="Mountains" style="width: 100%" />
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  let progress = document.getElementById("progressbar");
  let totalHeight = document.body.scrollHeight - window.innerHeight;
  window.onscroll = function () {
    let progressHeight = (window.pageYOffset / totalHeight) * 100;
    progress.style.height = progressHeight + "%";
  };
</script>
